.main_title{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}

.box1 h2 {
 float: left;
}
.box1 button {
    float: right;
}

.container{
    margin-top: 50px;
    
}

h6{
    text-align: center;
    color: red;
    
}
h1 {
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 15px;
    letter-spacing: 2px;
}
.frm1{
    margin-top: 30px;
    padding: 0px 100px;
}
